In [1]:
#Real-world scenario -- World Population Data source in Kaggle

In [90]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import functools as ft

In [41]:
#import a CSV file into a Pandas DataFrame
height_weight_data=pd.read_csv("height_weight_data.csv")
iq=pd.read_csv("iq.csv")
life_expectancy=pd.read_csv("life_expectancy.csv")
population_density=pd.read_csv("population_density.csv")
quality_of_life=pd.read_csv("quality_of_life.csv")

In [57]:
#check missing data
height_weight_data.isna().sum()

country          0
male_height      0
female_height    0
male_weight      0
female_weight    0
male_bmi         0
female_bmi       0
dtype: int64

In [58]:
print(height_weight_data.head())

                  country  male_height  female_height  male_weight  \
0             Netherlands          184            170         87.9
1              Montenegro          183            170         90.4
2                 Estonia          182            168         89.9
3                 Denmark          182            169         86.8
4  Bosnia and Herzegovina          182            167         87.1

   female_weight  male_bmi  female_bmi
0           73.2      26.1        25.3
1           75.3      27.0        26.2
2           73.7      27.0        26.0
3           70.2      26.3        24.6
4           70.6      26.4        25.3

In [43]:
#check missing data
iq.isna().sum()

country                                 0
iq                                      0
education_expenditure_per_inhabitant    5
daily_max_temp                          0
dtype: int64

In [59]:
print(iq.head())

       country   iq  education_expenditure_per_inhabitant  daily_max_temp
0    Singapore  108                                 908.0            31.5
1    Hong Kong  108                                 915.0            26.2
2       Taiwan  106                                   NaN            26.9
3  South Korea  106                                 537.0            18.2
4        Japan  105                                1258.0            19.2

In [44]:
#check missing data
life_expectancy.isna().sum()

country                   0
male_life_expectancy      0
female_life_expectancy    0
birth_rate                0
death_rate                0
dtype: int64

In [60]:
print(life_expectancy.head())

     country  male_life_expectancy  female_life_expectancy  birth_rate  \
0  Hong Kong                  82.9                    88.0         5.8
1    Iceland                  81.7                    84.5        12.3
2      Japan                  81.6                    87.7         6.8
3     Norway                  81.6                    84.9         9.8
4  Singapore                  81.5                    86.1         8.5

   death_rate
0         6.8
1         7.8
2         8.8
3         9.8
4        10.8

In [45]:
#check missing data
population_density.isna().sum()

country          0
area             0
population       0
pop_per_km_sq    0
dtype: int64

In [61]:
print(population_density.head())

      country    area population  pop_per_km_sq
0      Macao     30.0     0.66 M        21657.6
1      Monaco     2.0     0.04 M        19564.4
2   Singapore   719.0     5.45 M         7584.9
3  Hong Kong   1110.0     7.41 M         6678.5
4  Gibraltar      6.8     0.03 M         4954.6

In [46]:
#check missing data
quality_of_life.isna().sum()

country       0
stability     0
rights        0
health        0
safety        0
climate       0
costs         0
popularity    0
dtype: int64

In [62]:
print(quality_of_life.head())

       country  stability  rights  health  safety  climate  costs  popularity
0    Australia         86      92      87     100       90     23          41
1    Hong Kong         77      85     100      97       49     61          52
2   San Marino         81      82      91      87       62     61          46
3        Macao         90      71     100      93       48     61          50
4  Switzerland         91      99      93      99       34     44          40

In [47]:
#only "iq" dataframe got missing data, have to replace missing value, so firstly check "iq" type details
iq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   country                               108 non-null    object
 1   iq                                    108 non-null    int64
 2   education_expenditure_per_inhabitant  103 non-null    object
 3   daily_max_temp                        108 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.5+ KB

In [48]:
#convert education_expenditure_per_inhabitant from object to float, firstly replace comma
iq['education_expenditure_per_inhabitant']=iq['education_expenditure_per_inhabitant'].str.replace(',', '')

In [51]:
#convert education_expenditure_per_inhabitant from object to float
iq['education_expenditure_per_inhabitant']=iq['education_expenditure_per_inhabitant'].astype(float)

In [52]:
#check "iq" details, now education_expenditure_per_inhabitant type = float
iq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   country                               108 non-null    object
 1   iq                                    108 non-null    int64
 2   education_expenditure_per_inhabitant  103 non-null    float64
 3   daily_max_temp                        108 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.5+ KB

In [54]:
#check "iq" details
iq.describe()

               iq  education_expenditure_per_inhabitant  daily_max_temp
count  108.000000                            103.000000      108.000000
mean    86.574074                            579.932039       23.934259
std     13.176873                            782.630009        7.989504
min     56.000000                              3.000000        7.300000
25%     81.000000                             37.500000       17.675000
50%     88.000000                            167.000000       25.700000
75%     98.000000                            896.500000       30.925000
max    108.000000                           3527.000000       36.500000

In [65]:
#create full_iq to be the one filled missing edu_expend_per_inhabitant values
full_iq=iq

In [66]:
#replace the missing "education_expenditure_per_inhabitant" value by the mean
full_iq['education_expenditure_per_inhabitant']=full_iq['education_expenditure_per_inhabitant'].fillna(iq['education_expenditure_per_inhabitant'].mean())

In [67]:
#check "full_iq" missing values
full_iq.isna().sum()

country                                 0
iq                                      0
education_expenditure_per_inhabitant    0
daily_max_temp                          0
dtype: int64

In [68]:
print(full_iq.head())

       country   iq  education_expenditure_per_inhabitant  daily_max_temp
0    Singapore  108                            908.000000            31.5
1    Hong Kong  108                            915.000000            26.2
2       Taiwan  106                            579.932039            26.9
3  South Korea  106                            537.000000            18.2
4        Japan  105                           1258.000000            19.2

In [77]:
#see the no. of rows & columns in the dataset
height_weight_data.shape, full_iq.shape, life_expectancy.shape, population_density.shape, quality_of_life.shape

((126, 7), (108, 4), (115, 5), (91, 4), (137, 8))

In [89]:
#create a List for all dataframe
df = [height_weight_data, full_iq, life_expectancy, population_density, quality_of_life]

In [92]:
#merge the dataframe - only contains the country exists in all dataset
df_final = ft.reduce(lambda left, right: pd.merge(left, right, on='country'), df)

In [93]:
#check the rows & column of "df_final"
df_final.shape

(55, 24)